@import "./__imports.scss";

#editor_entity_selector {
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	height: 80%;
	position: absolute;
	right: 0;
	top: 10%;
	z-index: 1000;
	justify-content: space-around;

	.editor_entity {
		flex: 0;
		@include square(60px);
		border: 1px solid black;
		align-items: center;
		text-align: center;
		font-size: 50px;
		border-radius: 3px;
		border: 1px solid white;
		padding: 2px;

		&.active {
			border-radius: 5px;
			padding: 0;
			border: 3px solid white;
		}
	}
}
