@import "./__imports.scss";

#game_player_list {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 10%;
	right: 0;
	z-index: 1000;
	width: 15%;

	.game_player_list_item {
		display: flex;
		flex-direction: column;
		border: 1px solid grey;
		border-radius: 5px;
		margin: 10px;
		padding: 10px;
	}
}

.controls {
	z-index: 1000;
	position: absolute;
	bottom: 10%;
	right: 4%;
	width: 14%;
	height: 180px;
	min-width: 180px;
	.btn {
		position: absolute;
		font-size: 25px;
		top: 0;
		left: 0;
		margin: auto;
		right: 0;
		bottom: 0;
		width: 50px;
		height: 50px;
		line-height: 1;
	}
	#game_btn_up {
		transform: translate(0, -120%);
	}
	#game_btn_left {
		transform: translate(-120%, 0);
	}
	#game_btn_right {
		transform: translate(120%, 0);
	}
	#game_btn_down {
		transform: translate(0, 120%);
	}
}
@media (min-width: 1444px) {
	.controls {
		height: 300px;
		min-width: 300px;
		.btn {
			font-size: 50px;
			width: 80px;
			height: 80px;
		}
	}
}
