fld {
  display: flex;
}

elem {
  display: block;
}

view {
  display: block;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  position: relative !important;
}

view_container {
  display: block !important;
  width: 100% !important;
  position: relative;
  height: 100%;
  margin: 0;
}

.board {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}

.board .board_table {
  width: auto;
  height: 50%;
  margin: auto;
}

.board .board_table .board_row {
  padding: 0;
  margin: 0;
}

.board .board_table .board_row .board_cell {
  padding: 0;
  margin: 0;
  border: 1px solid grey;
  text-align: center;
}
