@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
fld {
  display: flex;
}

elem {
  display: block;
}

view {
  display: block;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  position: relative !important;
  background-color: black;
}

view * {
  color: white;
  transition: 1s linear;
  user-select: none;
}

view_container {
  display: block !important;
  width: 100% !important;
  position: relative;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.hide_children_until_load_complete * {
  display: none !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

.board {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
}

.board .board_table {
  width: auto;
  height: 50%;
  margin: auto;
  border-collapse: collapse;
}

.board .board_table .board_row {
  padding: 0;
  margin: 0;
}

.board .board_table .board_row .board_cell {
  padding: 0;
  margin: 0;
  border: 1px solid grey;
  text-align: center;
  overflow: hidden;
  transform: scale(1.265) translate(0, 2.5%);
}

#editor_entity_selector {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 80%;
  position: absolute;
  right: 0;
  top: 10%;
  z-index: 1000;
  justify-content: space-around;
}

#editor_entity_selector .editor_entity {
  flex: 0;
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  align-items: center;
  text-align: center;
  font-size: 36px;
  border-radius: 3px;
  border: 1px solid white;
  padding: 2px;
}

#editor_entity_selector .editor_entity.active {
  border-radius: 5px;
  padding: 0;
  border: 3px solid red;
  color: red;
}

#game_player_list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 1000;
  width: 15%;
}

#game_player_list .game_player_list_item {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.controls {
  z-index: 1000;
  position: absolute;
  bottom: 10%;
  right: 4%;
  width: 14%;
  height: 180px;
  min-width: 180px;
}

.controls .btn {
  position: absolute;
  font-size: 25px;
  top: 0;
  left: 0;
  margin: auto;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  line-height: 1;
}

.controls #game_btn_up {
  transform: translate(0, -120%);
}

.controls #game_btn_left {
  transform: translate(-120%, 0);
}

.controls #game_btn_right {
  transform: translate(120%, 0);
}

.controls #game_btn_down {
  transform: translate(0, 120%);
}

@media (min-width: 1444px) {
  .controls {
    height: 300px;
    min-width: 300px;
  }
  .controls .btn {
    font-size: 50px;
    width: 80px;
    height: 80px;
  }
}

.label {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
  width: 150px;
  height: 48px;
  font-size: x-large;
  font-family: 'Passero One', cursive;
}

.list {
  position: absolute;
  bottom: 10px;
}

.label:hover,
.label:focus,
.label:active {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.text-effect {
  overflow: hidden;
  position: relative;
  -webkit-filter: contrast(110%) brightness(190%);
  filter: contrast(110%) brightness(190%);
}

.tron::before,
.tron::after {
  content: attr(data-text);
  color: white;
  -webkit-filter: blur(0.02em);
  filter: blur(0.02em);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.tron::after {
  mix-blend-mode: difference;
}

.gradient,
.spotlight {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 10;
}

.gradient {
  background: linear-gradient(45deg, #32a8a0, #32a8a0);
  mix-blend-mode: multiply;
}

.spotlight {
  -webkit-animation: light 5s infinite linear;
  animation: light 5s infinite linear;
  background: radial-gradient(circle, white, transparent 25%) 0 0/25% 25%, radial-gradient(circle, white, black 25%) 50% 50%/12.5% 12.5%;
  top: -100%;
  left: -100%;
  mix-blend-mode: color-dodge;
}

@-webkit-keyframes light {
  100% {
    -webkit-transform: translate3d(50%, 50%, 0);
    transform: translate3d(50%, 50%, 0);
  }
}

@keyframes light {
  100% {
    -webkit-transform: translate3d(50%, 50%, 0);
    transform: translate3d(50%, 50%, 0);
  }
}

.tron {
  position: relative;
  background: black;
  color: transparent;
  font: 700 150px 'Caesar Dressing', cursive;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.tron:focus {
  outline: none;
  border: 1px dotted white;
}

body {
  background: black;
}

.textCenter {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#editor_form {
  position: absolute;
  width: 20%;
  top: 20%;
  height: auto;
  max-height: 60%;
  left: -10px;
  padding: 15px;
  padding-left: 25px;
  z-index: 10;
  min-width: 110px;
  max-width: 410px;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
}

#editor_form::-webkit-scrollbar {
  display: none;
}

#editor_form:focus-within, #editor_form:hover {
  width: 35%;
}

#editor_form > * {
  margin: 5px;
}

#editor_form #editor_button_row {
  margin-left: 0;
  margin-right: 0;
  flex-wrap: wrap;
}

#editor_form #editor_button_row .btn {
  margin: 5px;
  flex-grow: 1;
}

#editor_form .input-group {
  width: auto;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width: 300px;
  height: 300px;
}

.login .btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #e6e6e6;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: 0.3em;
}

.login .btn:hover,
.login .btn:active,
.login .btn.active,
.login .btn.disabled,
.login .btn[disabled] {
  background-color: #e6e6e6;
}

.login .btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.login .btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.login .btn-primary,
.login .btn-primary:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.login .btn-primary.active {
  color: rgba(255, 255, 255, 0.75);
}

.login .btn-primary {
  background-color: #4a77d4;
  background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4));
  background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: linear-gradient(top, #6eb6de, #4a77d4);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
  border: 1px solid #3762bc;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.login .btn-primary:hover,
.login .btn-primary:active,
.login .btn-primary.active,
.login .btn-primary.disabled,
.login .btn-primary[disabled] {
  filter: none;
  background-color: #4a77d4;
}

.login .btn-block {
  width: 100%;
  display: block;
}

.login * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.login html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.login body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}

.login h1 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
}

.login input {
  width: 100%;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

.login input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}

@font-face {
  font-family: "icons";
  src: url("../../fonts/icons/font/icons.eot?t47ujl");
  src: url("../../fonts/icons/font/icons.eot?t47ujl#iefix") format("embedded-opentype"), url("../../fonts/icons/font/icons.ttf?t47ujl") format("truetype"), url("../../fonts/icons/font/icons.woff?t47ujl") format("woff"), url("../../fonts/icons/font/icons.svg?t47ujl#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Bike-up:before {
  content: "╤";
}

.icon-Bike-right:before {
  content: "╢";
}

.icon-Bike-down:before {
  content: "╧";
}

.icon-Bike-left:before {
  content: "╟";
}

.icon-Boost:before {
  content: "⟰";
}

.icon-Obstacle:before {
  content: "▚";
}

.icon-Trail-v:before {
  content: "┃";
}

.icon-Trail-h:before {
  content: "━";
}

.icon-TrailTurn-curvy-br:before {
  content: "┏";
}

.icon-TrailTurn-curvy-bl:before {
  content: "┓";
}

.icon-TrailTurn-curvy-tl:before {
  content: "┛";
}

.icon-TrailTurn-curvy-tr:before {
  content: "┗";
}
