@import "./common_imports.scss";

fld {
    display: flex;
}

elem{
    display: block;
}

view {
    display: block;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    position: relative !important;
}

view_container{
    display: block !important;
    background-color: red;
    width: 100%;
    position: relative;
    height: 100%;
    margin: 0;
}

