$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../../fonts/icons/font" !default;

$icon-Bike-up: "\2564";
$icon-Bike-right: "\2562";
$icon-Bike-down: "\2567";
$icon-Bike-left: "\255f";
$icon-Boost: "\27f0";
$icon-Obstacle: "\259a";
$icon-Trail-v: "\2503";
$icon-Trail-h: "\2501";
$icon-TrailTurn-curvy-br: "\250f";
$icon-TrailTurn-curvy-bl: "\2513";
$icon-TrailTurn-curvy-tl: "\251b";
$icon-TrailTurn-curvy-tr: "\2517";
