$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../../fonts/icons/font" !default;

$icon-TrailTurn-tr: "\2517";
$icon-TrailTurn-br: "\250f";
$icon-TrailTurn-bl: "\2513";
$icon-TrailTurn-tl: "\251b";
$icon-Boost: "\5e";
$icon-Trail-v: "\2503";
$icon-Trail-h: "\2501";
