@import "./_variables.scss";

@mixin margin_v($val) {
	margin-top: $val;
	margin-bottom: $val;
}

@mixin margin_h($val) {
	margin-right: $val;
	margin-left: $val;
}

@mixin square($val) {
	width: $val;
	min-width: $val;
	max-width: $val;
	height: $val;
	min-height: $val;
	max-height: $val;
}
