.test {
  color: red;
  background-color: black;
}

.test .secondClass {
  background: red;
}

.title {
  display: block;
  background: #888888;
  padding: 20px;
}

fld {
  display: block;
}

elem {
  display: block;
}

view {
  display: block;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  position: relative !important;
}

view_container {
  display: block !important;
  width: 100%;
  position: relative;
  height: 100%;
  margin: 0;
}
